body {
    font-size: 1.5rem;
    color: black;
    background-color: #ddeeff;
    padding: 0px;
    margin: 0px;
}


button {
    font-size: 1.5rem;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    color: white;
    background-color: #586079;
}
button:hover {
    background-color: #8d6a86;
    cursor: pointer;
}


header {
    background-color: #5389ae;
    height: 100px;
    width: 100%;
    margin-bottom: 20px;
}
header .header-div{
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}
header img {
    height: 80px;
}
input {
    font-size: 1.5rem;
    border-radius: 5px;
}


.input-box {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}
.input-elem {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.reactions {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    width: 1310px;
}
.card-amount {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}
.reaction-card {
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: white;
    border-radius: 50px;
    width: 1000px;
    height: 320px;
    margin-right: 10px;
}
.non-image {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 600px;
}
.reaction-card p {
    height: 50px;
    margin: 0px;
    text-align: center;
}
.reaction-card img {
    width: 400px;
    height: 320px;
    margin: 0px;
}
.amount {
    width: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.amount input {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.amount p {
    text-align: center;
}
a {
    text-decoration: none;
    color: black;
}
