<html lang="en">
<head>
    <title>Подсчет массы</title>
    <link rel="stylesheet" href="/static/styles/mass_calculation_style.css">
</head>
<body>
    <header>
        <div class="header-div">
            <a href="/reactions"><img src="http://localhost:9000/img/home.png" alt="Домой"></a>
        </div>
    </header>
    <div class="input-box">
        <div class="input-elem output">
            <p>Введите коэффициент выхода (от 0 до 1):</p>
            <input type="number" step="0.05" value="1">
        </div>
        <!-- <button class="submit">Оформить</button> -->
    </div>
    <div class="reactions">
        <div class="text">
            <p class="column">Название:</p>
            <p class="column">Исходный реагент: {{ .Reagent }}</p>
            <p class="column">Целевой продукт: {{ .Product }}</p>
            <p class="column">Коэффициент преобразования: {{ .ConversationFactor }}</p>
        </div>
        {{ range .reactions }}
        <div class="big-card">
            <a href="/reactions/{{ .ID }}">
            <div class="reaction-card">
                <img src="http://localhost:9000/img/{{ .ImgLink }}" alt="{{ .Title }}">
                <div class="text">
                    <p class="title">{{ .Title }}</p>
                    <p class="reagent">{{ .Reagent }}</p>
                    <p class="product">{{ .Product }}</p>
                    <p class="koef">{{ .ConversationFactor }}</p>
                </div>
            </div>
            </a>
            <div class="mass">
                <p>Введите массу выхода<br>(в граммах):</p>
                <input type="number" step="100" value="1000">
                <p>Входная масса<br>(в граммах):</p>
                <output class="result">
            </div>
        </div>
        {{ end }}
    </div>
</body>
</html>