<html lang="en">
<head>
    <title>Реакции</title>
    <link rel="stylesheet" href="/static/styles/reactions_style.css">
</head>
<body>
    <header>
        <div class="header-div">
            <a href="/reactions"><img src="http://localhost:9000/img/home.png" alt="Домой"></a>
        </div>
    </header>
    <form action="/reactions" method="GET" class="text-input">
        <input type="text" name="query" placeholder="Введите название реакции" value="{{ .query }}">
        <button type="submit">Поиск</button>
    </form>
    <div class="reactions">
        {{ range .reactions }}
        <div class="reaction-card">
            <img src="http://localhost:9000/img/{{ .ImgLink }}" alt="{{ .Title }}">
            <p class="title">{{ .Title }}</p>
            <p class="formula">Формула реакции: {{ .Formula }}</p>
            <a href="/reactions/{{ .ID }}"><button>Подробнее</button></a>
        </div>
        {{ end }}
    </div>
    <!-- {{if ne .reactions_in_calculation 0}} -->
    <div class="mass-calculation-link">
        <a href="/mass-calculation/{{ .calculation_id }}"><img src="http://localhost:9000/img/cart.png" alt=""></a>
        <div class="counter">{{ .reactions_in_calculation }}</div>
    </div>
    <!-- {{end}} -->
</body>
</html>