body {
    --header-color: #5389ae;
    --body-color: #ddeeff;
    --button-color: #586079;
    --hover-color: #8d6a86;
    --main-color: #ffffff;
    --non-active-color: #eee;

    font-size: 1.5rem;
    color: black;
    background-color: var(--body-color);
    padding: 0px;
    margin: 0px;
}


button {
    font-size: 1.5rem;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    color: white;
    background-color: var(--button-color);
}
button:hover {
    background-color: var(--hover-color);
    cursor: pointer;
}


header {
    background-color: var(--header-color);
    height: 100px;
    width: 100%;
    margin-bottom: 20px;
}
header .header-div{
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}
header img {
    height: 80px;
}
input {
    font-size: 1.5rem;
    border-radius: 5px;
    text-align: center;
}


.input-box {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}
.input-elem {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.delete {
    position: fixed;
    right: 30px;
    top: 150px;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.text {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 1000px;
    margin-left: 100px;
    padding: 10px;
    background-color: var(--header-color);
    border-radius: 10px;
}
.text-item {
    width: 250px;
    height: 100px;

    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.text p {
    background-color: var(--main-color);
    height: 70px;

    padding: 5px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;

    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.reaction-card .text {
    font-size: 1.25rem;
    margin: 0px;
}
.reaction-card .text p {
    font-size: 1.25rem;
}


.reactions {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    width: 1510px;
}
.big-card {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 20px;
}
.reaction-card {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--main-color);
    border-radius: 50px;
    width: 1200px;
    padding-bottom: 10px;
}
.reaction-card p {
    height: 50px;
    margin: 0px;
    text-align: center;
}
.reaction-card img {
    width: 400px;
    height: 320px;
    margin: 0px;
}
.mass {
    width: 300px;
    height: 320px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}
.mass input {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.mass p {
    text-align: center;
    margin: 0px;
}
a {
    text-decoration: none;
    color: black;
}
.result {
    width: 60%;
    height: 35px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--non-active-color);
    border-radius: 5px;
    border: 1px solid black;
    text-align: center;
}