body {
    font-size: 1.5rem;
    color: black;
    background-color: #ddeeff;
    padding: 0px;
    margin: 0px;
}


button {
    font-size: 1.5rem;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    color: white;
    background-color: #586079;
}
button:hover {
    background-color: #8d6a86;
    cursor: pointer;
}


header {
    background-color: #5389ae;
    height: 100px;
    width: 100%;
    margin-bottom: 20px;
}
header .header-div{
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}
header img {
    height: 80px;
}
input {
    font-size: 1.5rem;
    border-radius: 5px;
}


.input-box {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}
.input-elem {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.delete {
    position: fixed;
    right: 30px;
    top: 150px;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.reactions {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    width: 1510px;
}
.big-card {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 20px;
}
.reaction-card {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffffaa;
    border-radius: 50px;
    width: 1200px;
}
.reaction-card p {
    height: 50px;
    margin: 0px;
    text-align: center;
}
.reaction-card img {
    width: 400px;
    height: 320px;
    margin: 0px;
}
.text {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 1200px;
}
.text p {
    width: 300px;
    height: 100px;
    border-radius: 50px;
    background-color: #ddd;

    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.column{
    text-align: center;
}
.mass {
    width: 300px;
    height: 320px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}
.mass input {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.mass p {
    text-align: center;
    margin: 0px;
}
a {
    text-decoration: none;
    color: black;
}
.result {
    width: 60%;
    height: 35px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 5px;
    border: 1px solid black
}