body {
    --header-color: #5389ae;
    --body-color: #ddeeff;
    --button-color: #586079;
    --hover-color: #8d6a86;
    --main-color: #ffffff;
    --non-active-color: #eee;
    --border-color: #113355;
    --count-color: #ff1212aa;

    font-size: 1.5rem;
    color: black;
    background-color: var(--body-color);
    padding: 0px;
    margin: 0px;
}


button {
    font-size: 1.5rem;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    color: var(--main-color);
    background-color: var(--button-color);
}
button:hover {
    background-color: var(--hover-color);
    cursor: pointer;
}


header {
    background-color: var(--header-color);
    height: 100px;
    width: 100%;
    margin-bottom: 20px;
}
header .header-div{
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}
header img {
    height: 80px;
}
input {
    font-size: 1.5rem;
}


.text-input {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
.text-input input {
    width: 80%;
    height: 50px;
    border-radius: 5px;
    background-color: var(--main-color);
    border-width: 1px;
    border-color: var(--border-color);
}


.reactions {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width:100%;
}
.reaction-card {
    background-color: var(--main-color);
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 50px;
    width: 400px;
    height: 600px;
    margin-bottom: 20px;
    padding-bottom: 10px;
}
.reaction-card img {
    width: 400px;
    height: 320px;
    margin: 0px;
}
.reaction-card form {
    margin: 0px;
}
.reaction-card p {
    text-align: center;
    height: 60px;
    margin: 0px;
    font-size: 1.25rem;
}
.reaction-card .title {
    font-size: 1.5rem;
}
.reaction-card button {
    margin-left: auto;
    margin-right: auto;
}
a {
    text-decoration: none;
    color: black;
}


.mass-calculation-link img {
    z-index: 998;
    position: fixed;
    right: 50px;
    top: 100px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--main-color);
}
.mass-calculation-link .counter {
    z-index: 999;
    position: fixed;
    border-radius: 50%;
    background-color: var(--count-color);
    width: 30px;
    height: 30px;
    font-size: 1.5rem;
    right: 40px;
    top: 100px;
    
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}