body {
    --header-color: #5389ae;
    --body-color: #ddeeff;
    --button-color: #586079;
    --hover-color: #8d6a86;
    --main-color: #ffffff;
    --non-active-color: #eee;
    --border-color: #113355;
    --count-color: #ff1212aa;

    font-size: 2rem;
    color: black;
    background-color: var(--body-color);
    padding: 0px;
    margin: 0px;
}


button {
    font-size: 1.5rem;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    color: var(--main-color);
    background-color: var(--button-color);
}
button:hover {
    background-color: var(--hover-color);
    cursor: pointer;
}


header {
    background-color: var(--header-color);
    height: 100px;
    width: 100%;
    margin-bottom: 20px;
}
header .header-div{
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}
header img {
    height: 80px;
}


.content {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
.content img {
    width: 400px;
    height: 320px;
}
.title {
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
}
.content p {
    text-align: center;
}
.content .description {
    text-align: start;
}